WebService-Session1-Assignment/FahrenheitToCelsiusWebService/WebContent/wsdl/FahrenheitToCelsiusConversionService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempconversion.metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://tempconversion.metacube.com" xmlns:intf="http://tempconversion.metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://tempconversion.metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getValueInCelsius">
    <complexType>
     <sequence>
      <element name="fahrenheitValue" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getValueInCelsiusResponse">
    <complexType>
     <sequence>
      <element name="getValueInCelsiusReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getValueInCelsiusRequest">

      <wsdl:part element="impl:getValueInCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getValueInCelsiusResponse">

      <wsdl:part element="impl:getValueInCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FahrenheitToCelsiusConversionService">

      <wsdl:operation name="getValueInCelsius">

         <wsdl:input message="impl:getValueInCelsiusRequest" name="getValueInCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:getValueInCelsiusResponse" name="getValueInCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FahrenheitToCelsiusConversionServiceSoapBinding" type="impl:FahrenheitToCelsiusConversionService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getValueInCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getValueInCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getValueInCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FahrenheitToCelsiusConversionServiceService">

      <wsdl:port binding="impl:FahrenheitToCelsiusConversionServiceSoapBinding" name="FahrenheitToCelsiusConversionService">

         <wsdlsoap:address location="http://localhost:8080/FahrenheitToCelsiusWebService/services/FahrenheitToCelsiusConversionService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
